@keyframes bounce-on-it-yo {
    0% {
        transform: translateY(-5px) rotate(30deg);
    }
    100% {
        transform: translateY(0px) rotate(30deg);
    }
}

mark[rainbow-silly] {
    position: relative;
    white-space: preserve nowrap;

    background: linear-gradient(
        90deg,
        firebrick 0%,
        gold 33%,
        deepskyblue 66%,
        darkseagreen 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
        position: absolute;
        top: -15px;
        right: -15px;
        content: "⭐";
        user-select: none;
        pointer-events: none;
        color: initial;
        -webkit-text-fill-color: initial;

        @media (prefers-reduced-motion: no-preference) {
            will-change: transform;
            animation: 0.5s cubic-bezier(0.5, 0.05, 1, 0.5) infinite alternate
                bounce-on-it-yo;
        }
    }
}

span[blue] {
    color: darkslateblue;
}
