#whatfor {
    letter-spacing: -0.05em;
    margin: 0 auto;
    text-align: center;
    padding: 24px 0;
    font-family: var(--font-pixel-family);
    pointer-events: none;

    @media (max-width: 500px) {
        padding: 24px 20px;
        font-size: 2.5em;
    }

    @media (prefers-reduced-motion: no-preference) {
        filter: url(#bubble-outline);
    }

    @media (prefers-reduced-motion: reduce) {
        background-color: black;
    }

    & span {
        display: inline-block;
        vertical-align: baseline;
        transition: transform 200ms ease;
        pointer-events: initial;

        &:hover {
            color: black;
            text-shadow: white -1px -1px;
        }
    }

    & span:nth-child(odd) {
        transform: translateY(-0.03em);

        &:hover {
            transform: translateY(0.05em);
        }
    }

    & span:nth-child(even) {
        transform: translateY(0.03em);

        &:hover {
            transform: translateY(-0.05em);
        }
    }
}

#whatfor a {
    color: white;
    text-decoration: none;
    text-shadow: black 2px 2px;
}

@keyframes banana-anim {
    from {
        transform: translate(calc(0vw - 100%), calc(100vh));
        opacity: 100%;
    }

    to {
        transform: translate(calc(0vw - 100% + 3000px), calc(100vh - 3000px));
        opacity: 100%;
    }
}

@keyframes strawberry-anim {
    from {
        transform: translate(calc(0vw - 100%), calc(100vh));
        opacity: 100%;
    }

    to {
        transform: translate(calc(0vw - 100% + 3000px), calc(100vh - 3000px));
        opacity: 100%;
    }
}

.bg-image {
    z-index: -100;
    top: 0;
    left: 0;
    opacity: 0%;
    position: fixed;
    transform-origin: center;
    pointer-events: none;
    user-select: none;

    & img {
        filter: drop-shadow(8px 8px 0px black);
        transition: transform 200ms ease;

        &:hover {
            transform: scale(1.03) rotate(5deg);
            filter: drop-shadow(10px 10px 1px black);
        }
    }
}

@media (prefers-reduced-motion: no-preference) {
    #strawberry-bg {
        will-change: transform;
        animation: 180s linear 60s infinite normal strawberry-anim;
    }

    #banana-bg {
        will-change: transform;
        animation: 180s linear 1s infinite normal banana-anim;
    }
}
