article {
    header {
        hr {
            color: var(--colour-light);
        }

        h1,
        h2 {
            margin-bottom: var(--space-s);
        }

        h2 {
            color: var(--colour-muted);
        }

        ul {
            list-style-type: none;
            display: flex;
            flex-direction: row;
            gap: var(--space-s);

            li {
                border-radius: 4px;
                padding: 0px 8px;
                background-color: var(--colour-dark);
                color: var(--colour-light);
            }
        }
    }

    main {
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            margin-top: var(--space-l);
            margin-bottom: var(--space-s);
        }

        p {
            margin-bottom: var(--space-s);
        }

        ul {
            list-style-position: outside;
            overflow: initial;

            margin-top: var(--space-m);
            padding-left: 20px;

            li {
                margin-bottom: var(--space-s);
            }
        }

        a {
            color: var(--colour-muted);
        }

        code {
            font-weight: 800;
        }

        & > pre > code {
            font: var(--font-code);
            background-color: hsl(from var(--colour-dark) h s 90%);
            margin: 0;
            padding-left: 32px;
            border-left: 2px solid black;
            overflow-x: auto;
        }

        hr {
            border: none;
            color: var(--colour-muted);
            background-color: var(--colour-muted);
            width: 7em;
            height: 2px;
            margin: var(--space-m) auto;
        }
    }
}
