article[post] {
    h2 {
        margin-bottom: var(--space-s);
    }

    h3 {
        margin-top: var(--space-m);
    }

    ul {
        list-style-position: outside;
        overflow: initial;

        margin-top: var(--space-s);
        padding-left: 20px;

        li {
            margin-bottom: var(--space-s);
            line-height: 1.7em;
        }
    }

    a {
        color: var(--colour-muted);
    }

    code {
        font-weight: 800;
    }

    & > pre > code {
        font: var(--font-code);
        background-color: aliceblue;
        margin: 0;
        padding-left: 24px;
        overflow-x: auto;
    }
}
