* {
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

header,
footer,
figure,
video,
details,
blockquote,
ul,
ol,
dl,
fieldset,
pre,
pre > code {
    display: block;
    margin: 0;
    width: 100%;
    text-align: left;
}

video,
summary,
input,
select {
    outline: none;
}
