* {
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

header,
footer,
figure,
video,
details,
blockquote,
ul,
ol,
dl,
fieldset,
pre,
pre > code {
    display: block;
    margin: 0.5rem 0 1rem;
    width: 100%;
    text-align: left;
}

video,
summary,
input,
select {
    outline: none;
}

@font-face {
    font-family: "Pixelify Sans Variable";
    src: url("../fonts/pixelify-sans-latin-400-normal.woff2") format("woff");
    font-display: swap;
}

:root {
    --rem: 12pt;
    --width: 50rem;
    --font-body: 1.3em/1.8 Tahoma, Helvetica, sans-serif;
    --font-head: 1.3em/1.5 "Palatino Linotype", "Palatino", sans-serif;
    --font-code: 1em/1.4 Monaco, monospace;

    --font-pixel-family:
        "Pixelify Sans Variable", "Courier New", Courier, monospace;

    --space-s: 0.4em;
    --space-m: 0.8em;
    --space-l: 1.6em;

    --colour-bg: ghostwhite;
    --colour-light: white;
    --colour-muted: darkgrey;
    --colour-dark: black;
}

html {
    font-size: var(--rem);
    background: var(--colour-bg);
    height: 100%;
    cursor: url("../images/cursor.png"), auto;
}

@keyframes bg-move {
    0% {
        transform: translate(0, 0);
        /*background-position: 0 0;*/
    }
    to {
        transform: translate(100px, -100px);
        /*background-position: 100px -100px;*/
    }
}

#bg-tiles {
    z-index: -105;
    position: fixed;
    top: 0;
    left: 0;
    width: 100lvw;
    height: 100lvh;

    filter: url(#noise) contrast(120%) brightness(180%);

    background-image: linear-gradient(
        to bottom,
        color(from darkslateblue srgb r g b / 0.8) 0%,
        color(from firebrick srgb r g b / 0.8) 100%
    );
    background-size: 100% 100%;
}

*::selection {
    color: darkmagenta;
    background-color: gold;
}

body {
    display: flex;
    flex-direction: column;

    position: relative;
    margin: auto;
    height: 100%;
    max-width: var(--width);
    font: var(--font-body);
    color: var(--colour-dark);
    padding: 3rem 1.3rem 0;
    overflow-x: hidden;
    pointer-events: none;

    & * {
        pointer-events: initial;
    }

    footer {
        margin-top: auto;
        font-size: 0.7em;
    }

    footer,
    main article {
        background-color: ivory;
        border: 4px solid cadetblue;
        padding: 5px 15px;
        box-shadow: 10px 10px 0px black;
    }

    header {
        pointer-events: none;

        & * {
            pointer-events: initial;
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;
                list-style: none;

                font-family: var(--font-pixel-family);
                font-size: 1.5em;
                line-height: 1.2em;
                text-align: center;

                li {
                    flex-basis: 0;
                    flex-grow: 1;
                    padding: 0px 10px;

                    &:hover {
                        font-size: 1.05em;
                    }
                }
            }
        }
    }
}

a {
    color: unset;
    text-decoration-style: dashed;

    &:hover {
        color: red;
    }
}

p {
    line-height: 1.7em;
    margin-bottom: 2ch;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: var(--font-head);
    line-height: 1.1em;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4,
h5,
h6 {
    font-size: 1.1em;
}

table {
    width: 100%;
}

@keyframes bounce-on-it-yo {
    0% {
        transform: translateY(-5px) rotate(30deg);
    }
    100% {
        transform: translateY(0px) rotate(30deg);
    }
}

mark[rainbow-silly] {
    position: relative;
    /*color: darkred;*/
    /*background-color: lemonchiffon;*/
    /*padding: 0.1ch 0.5ch;*/
    /*box-shadow: maroon -4px 4px;*/
    /*border: 1px solid tan;*/
    /*border-radius: 10% 10% / 10% 10%;*/

    background: linear-gradient(
        90deg,
        firebrick 0%,
        gold 33%,
        deepskyblue 66%,
        darkseagreen 100%
    );
    color: transparent;
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    &::after {
        position: absolute;
        top: -18px;
        right: -15px;
        content: "🤪";
        user-select: none;
        pointer-events: none;
        color: initial;
        -webkit-text-fill-color: initial;

        will-change: transform;
        animation: 0.5s cubic-bezier(0.5, 0.05, 1, 0.5) infinite alternate
            bounce-on-it-yo;
    }
}
