* {
    box-sizing: border-box;
    border-spacing: 0;
    margin: 0;
    padding: 0;
}

header,
footer,
figure,
video,
details,
blockquote,
ul,
ol,
dl,
fieldset,
pre,
pre > code {
    display: block;
    margin: 0.5rem 0 1rem;
    width: 100%;
    text-align: left;
}

video,
summary,
input,
select {
    outline: none;
}

@font-face {
    font-family: "Pixelify Sans Variable";
    src: url("../fonts/pixelify-sans-latin-400-normal.woff2") format("woff");
}

:root {
    --rem: 12pt;
    --width: 50rem;
    --font-body: 1.3em/1.8 Tahoma, Helvetica, sans-serif;
    --font-head: 1.3em/1.5 "Palatino Linotype", "Palatino", sans-serif;
    --font-code: 1em/1.4 Monaco, monospace;

    --font-pixel-family:
        "Pixelify Sans Variable", "Courier New", Courier, monospace;

    --space-s: 0.4em;
    --space-m: 0.8em;
    --space-l: 1.6em;

    --colour-bg: ghostwhite;
    --colour-light: white;
    --colour-muted: darkgrey;
    --colour-dark: black;
}

@keyframes bg-move {
    0% {
        background-position: 0 0;
    }
    to {
        background-position: 100px -100px;
    }
}

html {
    font-size: var(--rem);
    background: var(--colour-bg);
    height: 100%;

    --bg: aqua;
    background-image:
        linear-gradient(45deg, var(--bg) 25%, transparent 25%),
        linear-gradient(135deg, var(--bg) 25%, transparent 25%),
        linear-gradient(225deg, var(--bg) 25%, transparent 25%),
        linear-gradient(315deg, var(--bg) 25%, transparent 25%);

    background-size: 100px 100px;
    background-repeat: repeat;

    cursor: url("../images/cursor.png"), auto;

    @media (prefers-reduced-motion: no-preference) and (min-width: 800px) {
        animation: bg-move 6s linear infinite;
    }
}

*::selection {
    color: darkmagenta;
    background-color: gold;
}

body {
    display: flex;
    flex-direction: column;

    position: relative;
    margin: auto;
    height: 100%;
    max-width: var(--width);
    font: var(--font-body);
    color: var(--colour-dark);
    padding: 3rem 1.3rem 0;
    overflow-x: hidden;
    pointer-events: none;

    & * {
        pointer-events: initial;
    }

    footer {
        margin-top: auto;
        font-size: 0.7em;
    }

    footer,
    main article {
        background-color: ivory;
        border: 4px solid cadetblue;
        padding: 5px 15px;
        box-shadow: 10px 10px 0px black;
    }

    header {
        pointer-events: none;

        & * {
            pointer-events: initial;
        }

        nav {
            ul {
                display: flex;
                flex-direction: row;
                justify-content: space-between;

                font-family: var(--font-pixel-family);
                font-size: 1.5em;
                line-height: 1.2em;
                text-align: center;

                a {
                    flex-basis: 0;
                    flex-grow: 1;
                    padding: 0px 10px;

                    &:hover {
                        font-size: 1.05em;
                    }
                }
            }
        }
    }
}

a {
    color: unset;
    text-decoration-style: dashed;

    &:hover {
        color: red;
    }
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font: var(--font-head);
    line-height: 1.1em;
}

h1 {
    font-size: 3.5em;
}

h2 {
    font-size: 2em;
}

h3 {
    font-size: 1.5em;
}

h4,
h5,
h6 {
    font-size: 1.1em;
}
